.homeColumn {
    padding-left: 0px;
    padding-right: 0px;
}

.imageContainer {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 94.3vh;
    -webkit-box-shadow: 10px 0px 24px -9px rgba(46,41,46,1);
    -moz-box-shadow: 10px 0px 24px -9px rgba(46,41,46,1);
    box-shadow: 10px 0px 24px -9px rgba(46,41,46,1);
    background-color: #1976d3;
    
}

.brandText {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 500;
    color: white;

}

.homeSecondary {
    margin-bottom: 0px;
    font-size: 17px;
    color: white;
}

.descriptionContainer {
    margin-top: 300px;
    padding-left: 10px;
}

.descriptionText {
    font-size: 22px;
}

.bannerBorder {
    border-left: 6px solid #1976d3;
    padding-left: 20px;
}